@font-face { font-family: 'PT Sans', sans-serif; }

table{
    width: 100%;
    border-collapse:collapse;
}

td{
    width: 25%;
    text-align: center;
    border: 10px solid white;
}

a {
    color:black;
    text-decoration: none;
    font-weight:bold;
}

#header {
    color: rgba(0,0,0,.8);
    text-align:center;
    padding:1px;
    font-family: PT Sans;
    font-size: 15px;
}

h2 {
    width: 50%;
    margin: auto;
    border-width: 0.50px 0px 0.5px 0px;
    border-color: gray;
    border-style: solid;
    color:black;
    text-align:center;
    padding:10px;
    font-family: PT Sans;
    font-size: 20px;
}

#img {
    border-radius: 3px;
    width: 240px;
    height: 150px
}

#portrait {
    border-radius: 3px;
    width: 150px;
    height: 150px%
}


#section {
    text-align: justify;
    display:flex;
    padding:40px;
    margin: auto;
    width: 45%;
    border-width: 0px 0px 0px 0px;
    border-color: gray;
    border-style: dotted;
    font-family: PT Sans;
    font-size: 13px;
}


#sectionmid {
    display:flex;
    padding:40px;
    margin: auto;
    width: 700px;
    border-width: 0px 0px 0px 0px;
    border-color: gray;
    border-style: dotted;
    font-family: PT Sans;
    font-size: 12.5px;
}

#left
{
    flex:1;
    height: 150px;
    margin: auto;
}


#right
{
    flex:2;
    color: black;
    margin:auto;
    margin-left: 30px;
    padding:2px;
    text-align: right;
}

#left2
{
    flex:2;
    color: black;
    margin:auto;
    margin-right: 30px;
    padding:2px;
    text-align:left;
}

#right2
{
    flex:1;
    height: 150px;
    margin: auto;
}

.clear
{
    clear: both;
}
