body {
    margin: 10px;
    font-family: 'Abel';
    width: 800px;
  }


.topnav {
    overflow: hidden;
    padding-bottom: 36px;
    padding-left: 36px;
}

.hover-title {
    display: inline-block;
    pointer-events: auto;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

.bold {
    font-weight: 1500px;
    text-decoration: underline;
}


.parent {
    columns: 3 auto;
    padding-left: 36px;
}

.item {
    padding-top: 36px;
}

img{
    max-width:220px;
    vertical-align: middle;
}